{name, "nitrogen"}.
{authors, ["Rusty Klophaus <rklophaus@gmail.com>"]}.
{description, "Nitrogen Web Framework for Erlang"}.
{homepage, "http://nitrogenproject.com"}.
{rebar_compatible, true}.
{license, "MIT", "MIT-LICENSE"}.
{url, {git, "https://github.com/nitrogen/nitrogen.git", {branch, "master"}}}.
{applications, [nitrogen]}.
