{name, "nitrogen"}.
{authors, ["Rusty Klophaus <rklophaus@gmail.com>"]}.
{description, "Nitrogen Web Framework for Erlang"}.
{homepage, "http://nitrogenproject.com"}.
{license, "MIT", "MIT-LICENSE"}.
{build_command, "make compile"}.
{url, {git, "https://github.com/nitrogen/nitrogen.git", {tag, "v2.0.4"}}}.
{applications, [nitrogen]}.
